/*
 * HTML Elements
 * 
 */
body {
    background: #2963A9 url('../images/body-bg.png') repeat-x;
	margin: 0;
	padding: 0;
	font: 13px/1.231 verdana, arial, sans-serif; 
	font-size: small; 
	color: #000;
}

input, select, label, textarea, button {
	font-size: 0.9em;
	font-family: verdana, arial, sans-serif;
}
input[type="text"], 
input[type="password"], 
input[type="email"], 
textarea {
	padding: 2px;
	margin: 0;
	border: none;
}

a:link,
a:visited {
	text-decoration: none;
}
#content a:link, 
#content a:visited {
	text-decoration: underline;
}
a:link:hover, 
a:visited:hover {
	color: #275b74;
	text-decoration: underline;
}

p {
	margin: 0.8em 0 0.8em 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0.8em 0;
}
h1#page-title {
	font-size: 2em;
	font-weight: normal;
	padding: 0.6em 0;
}
h2 {
	font-size: 1.3em;
}
img {
	border: none;
	-ms-interpolation-mode: bicubic;
}
hr {
	border: none;
	border-top: 4px solid #469fac;
	margin: 2em 0;
	padding: 0;
}


/*
 * Layout Styles
 * 
 */
body.admin-menu {
	background-position: 50% 29px;
}

#page {
	background: #fff url('../images/page-bg.png') repeat-y;
	width: 1200px;
}

#main {
	background: url('../images/main-bg.png') repeat-x;
	padding: 55px 110px;
}

#logo-wrapper {
	clear: both;
	position: relative;
	height: 230px;
}
#logo-wrapper #logo {
	position: relative;
	top: 30px;
}
.node-type-artist #logo-wrapper #logo {
	left: 220px;
}

.sidebar-second #content {
	width: 560px;
}
.sidebar-second .region-sidebar-second {
	width: 440px;
	margin-left: 581px;
}

#copyright {
	width: 980px;
	text-align: center;
	font-size: 0.85em;
	color: #000;
	text-align: center;
	border-top: 4px solid #469fac;
	margin-left: 110px;
	padding: 10px 0px;
}

#footer {
	background: url('../images/footer-bg.png') no-repeat top center;
	height: 100px;
	padding-bottom: 50px;
}


/*
 * Navigtation Region Styles
 * 
 */
#navigation {
	height: 55px;
	background: #3881a5;
}

/* menu block styles */
#navigation .block-menu-block {
}
#navigation .block-menu-block li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#navigation .block-menu-block li {
	float: left;
	margin: 0 0 0 2px;
}

/* link styles */
#navigation .block-menu-block li a {
	display: block;
	padding: 16px 12px 0px 12px;
	height: 29px;
	color: #fff;
	font-size: 1.4em;
	text-transform: uppercase;
	font-family: helvetica, arial;
}
#navigation .block-menu-block li.is-active,
#navigation .block-menu-block li.is-active-trail {
	border-bottom: 10px solid #275b74;
}
#navigation .block-menu-block li a:hover{
	text-decoration: none;
}
#navigation .block-menu-block li:hover,
#navigation .block-menu-block li.is-active:hover,
#navigation .block-menu-block li.is-active-trail:hover{
	border-bottom: 10px solid #fff;
}

/* sub link styles */
#navigation .block-menu-block li:hover ul {
	display: block;
}
#navigation .block-menu-block ul ul {
	display: none;
	position: absolute;
	margin: 0px 0 0 0;
	padding: 10px 0 5px 0;
	min-width: 150px;
}
#navigation .block-menu-block ul ul li {
	float: none;
	background-color: #275b74;
	margin: 0;
	padding: 0;
}
#navigation .block-menu-block ul ul li:hover {
	border: none;
}
#navigation .block-menu-block ul ul li a {
	margin: 0;
	padding: 7px 0 7px 12px;
	font-size: 1.1em;
	background: transparent;
	height: auto;
	color: #fff;
}
#navigation .block-menu-block ul ul li a:hover {
	text-decoration: underline;
}

/* social media widget */
#block-widgets-s-socialmedia-profile-buttons {
	float: right;
}
.block-widgets  .widgets-element {
	padding: 30px 0px 0px 6px;
}


/*
 * Webform Styles
 * 
 */
.node-type-webform {
}
.node-type-webform .webform-client-form {
	background: #eee;
	padding: 20px;
}
.node-type-webform .form-item {
	margin: 4px 0;
}
.node-type-webform label {
	font-weight: normal;
}

/* inline form elements */
.node-type-webform .webform-container-inline {
	clear: both;
	margin-bottom: 10px;
}
.node-type-webform .webform-container-inline label {
	width: 200px;
	display: inline-block;
}
.node-type-webform .webform-container-inline input.form-text {
	width: 200px;
}
.node-type-webform .webform-container-inline.webform-component-checkboxes label {
	float: left;
	margin-right: 15px;
}
.node-type-webform .webform-container-inline .form-checkboxes {
	float: left;
}
.node-type-webform .webform-container-inline .form-checkboxes label {
	float: none;
}
.node-type-webform .webform-container-inline .form-type-checkbox {
	display: block !important;
}
.node-type-webform .webform-container-inline.webform-component-date {
	padding-top: 10px;
}
.node-type-webform .webform-container-inline.webform-component-textarea label {
	margin-bottom: 4px;
}

/* name field */
.node-type-webform .form-type-name-element label {
	float: left;
	width: 204px;
	margin-right: 1em;
}
.node-type-webform .form-type-name-element .form-item {
	margin: 0;
}
.node-type-webform .form-type-name-element .form-item input {
	width: 140px;
}
.node-type-webform .form-type-name-element .name-family-wrapper {
	margin-right: 0 !important;
}

/* mollom styles */
.form-item-mollom-captcha label {
	margin-bottom: 4px;
}
.mollom-refresh-image {
	float: left;
	background-color: #fff;
}
.mollom-image-captcha {
	float: left;
}
.mollom-image-captcha-instructions {
	float: left;
	width: 300px;
	margin: 0 0 0 32px;
}
#edit-mollom-captcha {
	width: 200px;
	margin: 10px 0 10px 212px;
}


/*
 * Views Displays
 * 
 */
.views-table {
	margin: 0;
	padding: 0;
}

table.views-view-grid {
	width: 100%;
}
table.views-view-grid.cols-2 td {
	width: 50%;
}


/*
 * Artist Styles (Fields/Views/Panels)
 * 
 */
.node-type-artist .menu-mlid-427 {
	border-bottom: 10px solid #87191a;
}

/* roster list */
.view-artist-roster td {
	padding: 0 10px 10px 0;
}
.view-artist-roster tr.row-last td {
	padding: 0 10px 0 0;
}
.view-artist-roster .views-field-field-artist-photo,
.view-artist-roster .views-field-field-staff-photo {
	float: left;
	margin-right: 10px;
}
.view-artist-roster .views-field-title {
	font-weight: bold;
}
.field-name-field-artist-subtitle,
.field-name-field-staff-job-titles {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
}
.views-field-field-staff-job-titles ul {
	margin: 0;
}
.views-field-field-staff-job-titles ul li {
	list-style: none;
}

/* sorting display view */
.view-artist-roster .tabledrag-toggle-weight-wrapper {
	display:none;
}
.view-artist-roster .views-table.draggable {
	width: 100%;
	color: #000;
	margin-bottom: 10px;
}
.view-artist-roster .views-table.draggable td {
	padding: 0 10px;
}
.view-artist-roster .views-table.draggable .views-field-title {
	font-weight: normal;
}

/* sorting display pane */
.pane-artist-roster-panel-pane-2,
.pane-artist-roster-panel-pane-4 {
	border: 1px dashed #ccc;
	padding: 0 10px 10px;
}
.pane-artist-roster-panel-pane-2 h2.pane-title,
.pane-artist-roster-panel-pane-4 h2.pane-title {
	padding: 0px;
}


/*
 * Slideshow Styles (Fields/Views/Panels)
 * 
 */
.views_slideshow_cycle_main {
	padding-top: 40px;
}
#views_slideshow_cycle_teaser_section_slideshow-block {
	height: 700px;
}


/*
 * Staff Member Styles (Fields/Views/Panels)
 * 
 */

/* our team list */
.view-our-team td {
	padding: 0 10px 10px 0;
}
.view-our-team tr.row-last td {
	padding: 0 10px 0 0;
}
.view-our-team .views-field-field-staff-photo {
	float: left;
	margin-right: 10px;
}
.view-our-team .views-field-title {
	font-weight: bold;
}

/* staff member node */
.node-type-staff-member .panel-2col-stacked .panel-col-first{
	width: 40%;
}
.node-type-staff-member .pane-node-body p {
	margin-top: 0;
}
.node-type-staff-member .menu-mlid-428 {
	border-bottom: 10px solid #87191a;
}

